/* Estilos para el formulario de demo */

.form-control {
    margin-bottom: 15px; 
}

.btn-primary {
    background-color: #c6dbd8; 
    border: none; 
    color: #000000; 
    padding: 10px 20px; 
    cursor: pointer; 
    border-radius: 3px; 
}

.btn-primary:hover {
    background-color: #4d5494; 
    margin-top: 20px;
}


.form-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh;
    
}

.btn-primary {
    
    margin-top: 20px; 
}
.main-form-container {
    max-width: 800px; 
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 20px;
    background-color: #8195af;
    margin-bottom: 250px;
}

.form-title {
    text-align: center; 
}

.form-group {
    margin-bottom: 20px;
}

.btn {
    margin-right: 10px; 
}